<?xml version="1.0" ?>
<launch>
  
  <arg name="robot_ip" default="10.0.0.2" />
  <arg name="load_gripper" default="false" />

  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <rosparam command="load" file="$(find control_methods)/config/train_controller.yaml" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="cartesian_impedance_controller"/>

  <node name="optitrack_marker" pkg="control_methods" type="remoteControl.py" required="true" output="screen">
    <param name="link_name" value="panda_link0" />
  </node>

  <include file="$(find vrpn_client_ros)/launch/sample.launch">
	    <arg name="server" value="141.83.19.237"/>
  </include>
</launch>
